{% extends "base.html.twig" %}

{% block title %}
Edit Post
{% endblock %}


{% block stylesheets %}
{{ parent() }}

{# <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('dist/css/post_edit.css') }}"> #}
{% endblock %}

{% block body %}
<h2>Welcome to post edit </h2>
{% endblock %}

{% block javascripts %}
{{ parent() }}

{{ encore_entry_script_tags('post_edit') }}
<script src="{{ asset('dist/js/post_edit.js') }}"></script>
{% endblock %}

