{% extends "base.html.twig" %}

{% block title %}
User Page
!{% endblock %}


{% block stylesheets %}
{{ parent() }}

{# <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('dist/css/user.css') }}"> #}
!{% endblock %}

{% block body %}
<h2>Welcome to user </h2>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-10 mx-auto">
            <div class="card card-home my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Latest Posts</h5>
                    <div class="col-sm-10 col-md-10 col-8-10 mx-auto">
                        {% for p in posts %}
                        <div class="card card-homr-post my-5">
                            <div class="card-header bg-secondary text-white">
                                <h6>{{ p.title }}</h6>
                                <a class="btn text-white" href="#">{{ p.author.name }}</a>
                                <p class="float-right">{{ p.createdat|date('d/m/Y g:i:s a') }}</p>
                            </div>
                            <div class="card-bodt">
                                <p>{{ p.content }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
!{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="{{ asset('dist/js/user.js') }}"></script>
!{% endblock %}

