{% extends "base.html.twig" %}

{% block title %}
User Page
!{% endblock %}


{% block stylesheets %}
{{ parent() }}

<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('dist/css/user.css') }}">
!{% endblock %}

{% block body %}
<div class="container">
    <div class="main">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-10 mx-auto">
                <div class="card card-user my-5">
                    <div class="card-body">

                        <h5 class="card-title text-center">Posts from {{ user.name }}</h5>

                        <div class="text-center">
                            <button id="post-new" class="btn btn-info p-1" hidden><small>New Post</small></button>
                        </div>

                        <div class="row">
                            <div class="col-sm-10 col-md-10 col-8-10 mx-auto">
                                {% for p in posts %}
                                <div id="post-{{ loop.index }}" class="card card-paginated my-5">
                                    <div class="card-header">
                                        <p class="my-0"><stron>{{ p.title }}</stron></p>
                                        <div class="row">
                                            <a class="btn text-dark float-right editable-post" href="{{ path('post_edit', {'id': p.id}) }}">Edit</a>
                                        </div>
                                        <div class="row float-right">
                                            <small>{{ p.createdat|date('d/m/Y g:i:s a') }}</small>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p>{{ p.content }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    {% set npages = (posts|length / 3)|round(0, 'ceil') %}
                    {% include 'include/pagination.html.twig' with { 'npages': npages } %}
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar" hidden>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
                <div class="card card-user my-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-8 col-lg-8 mx-auto">
                                <form>
                                    <select id="tweets-filter" class="form-control my-3">
                                        <option value="1">All</option>
                                        <option value="2">Mine</option>
                                        <option value="3">Hidden</option>
                                    </select>
                                </form>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4 mx-auto">
                                <button id="refresh-tweets" class="btn btn-success"><small>Refresh</small></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
                                <div id="tweets-root"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



!{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
    const USER_ID = Number("{{ user.id }}");
    const NCARDS = Number("{{ posts|length }}");
</script>

<script src="{{ asset('dist/js/user.js') }}"></script>
!{% endblock %}

